.home-page-image {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
}

.home-page-title:hover {
    text-decoration: none;
}

.home-page-desc {
    font-style:italic;
    color:#757575;
}

.site-title:hover {
    text-decoration: none !important;
    color:#2a7ae2;
}

.page-link:hover {
    text-decoration: none !important;
    color:#2a7ae2;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.rounded-image {
    border-radius: 5px;
}

body {
    background-color: #F9F7ED;
    font-size: 18px;
}